/* header section making the solid line */

.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 580px) {
  .header__logo {
    margin-left: 27px;
  }
}
