.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 19px;

  /* display: flex; */
}
.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #fff;
  width: 358px;
  /* height: 259.49px; */
  padding: 34px 36px 36.51px 36px;
  border-radius: 10px;
}

.modal__close-button {
  background-image: url(../images/Close\ Icon.svg);
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -43px;
  right: -43px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 60%;
}

.modal__heading {
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}

.modal__profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__input-name {
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px #000000 solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0;
  margin-bottom: 29.74px;
}

.modal__input-job {
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px #000000 solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0;
}

.modal__save-button {
  background-color: #000000;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  margin-top: 48px;
  padding: 0;
  border-radius: 2px;
  border: none;
}
