.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.Profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  margin: 22px 30px 21px;
  display: grid;
  grid-template-areas:
    "title button"
    "discription discription";
  grid-template-columns: minmax(auto, 373px) auto;
  justify-items: start;
}

.profile__title {
  grid-area: title;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 392px;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url(../images/edit\ pen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  border: solid 1px rgba(255, 255, 255, 1);
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__job {
  grid-area: discription;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 382px;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: solid 2px white;
  border-radius: 2%;
}
.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 785px) {
  .profile__title {
    font-size: 27px;
    line-height: 0.99;
  }

  .profile__job {
    font-size: 17px;
    line-height: 1.58;
  }

  .profile__add-button {
    width: 50px;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 273px) auto;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    width: 100%;
    text-align: center;
    max-width: 340px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__add-button {
    width: 282px;
    margin: auto;
  }
}
