/* footer section  */

.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  color: #545454;
}

.footer__text {
  margin: 0;
}

@media screen and (max-width: 580px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    font-size: 14px;
  }

  /* 
it took me a while but found what caused the horizontal scrolling
i was puting a margin on the .footer insted of the .footer__text
*/

  .footer__text {
    margin-left: 19px;
  }
}
