@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);

.page {
  background-color: black;
  color: white;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.header {
  margin-top: 45px;
}
.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.Profile__image {
  height: 120px;
  width: 120px;
}

.profile__info {
  margin: 22px 30px 21px;
  display: grid;
  grid-template-areas:
    "title button"
    "discription discription";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  grid-area: title;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url(/images/edit\ pen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 18px;
}

.profile__job {
  grid-area: discription;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 0;
}

.profile__add-button {
  background: transparent url(/images/plus.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
}
